h1{
    color:brown;
}

#fruits_title{
    color: darkslateblue;
}

#places_title{
    color: red;
}
.important_places{
    color:fuchsia;
}

.fruits-container li{
    color: tomato;

}

.large_text{
    font-size: 2rem;
}

.text-center{
  text-align: center;
}